html {
  font-size: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  background-color: $light-grey;
  margin-top: 5%;
}

.app-container {
  margin: 0 auto;
  width: 100%;
  min-width: 300px;
  text-align: center;
}
.logo-name {
  text-align: center;
  font-weight: 100;

  @include phone {
    font-size: 3.5rem;
  }
  @include tablet {
    font-size: 3.0rem;
  }
  @include desktop {
    font-size: 3.0rem;
  }
}
