html {
  font-size: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: lighter;
}

.app-container {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
.logo-name {
  font-size: 3.0rem;
  text-align: center;
  font-weight:200;
}
