.navigation {
  display: block;
  width: 20%;
  margin: 0 auto;
  text-align: center;

  li {
    list-style: none;
  }
  a {
    font-weight: bold;
    color: rgb(57, 57, 57);
  }
  a:hover {
    font-weight: 400;
  }
}
